* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 50px;
    padding-top: 10px;
}

body > header {
    background-color: rgb(89, 89, 94);
    padding: 16px 0;
    color: rgba(12, 12, 12, 0.863);
    position: fixed;
    top: 0;
    width: 100%;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: rgba(12, 12, 12, 0.863);
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

.articles article a {
    background-color: blue;
    color: rgb(253, 250, 244);
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5%;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.articles article p, .articles article a {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
}

section {
    padding: 16px 0;
}

section h2 {
    font-size: 32px;
}

section h2, .articles article {
    margin-bottom: 16px;
}

#sports {
    background-color: rgba(92, 224, 15, 0.205);
}

#sports .articles article a {
    background-color: green;
}

#economy {
    background-color: rgba(243, 243, 22, 0.308);
}

#economy .articles article a {
    background-color: rgb(131, 131, 2);
}

#entertainment {
    background-color: rgba(243, 0, 0, 0.322);
}

#entertainment .articles article a {
    background-color: rgb(219, 14, 14);
}

#tecnology {
    background-color: rgba(81, 81, 223, 0.315);
}